body {
  font-size: 13px;
  line-height: 20px;
  font-family: "Century Gothic";
}

body h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial';
}

.container {
  box-shadow: 0 -20px 20px #333;
  padding: 50px 0;
}
.footer {
  height: 400px;
  background-color: #333;
  color: #AAA;
  margin-left: 0px;
}

.footer .column {
  height: 350px;
  margin-top: 10px;
  padding: 15px 0 0 20px;
}

.profile {
  height: 297px;
  padding-left: 30px;
}

.extract {
  margin-top: 45px;
}

.extract h1 {
  font-family: 'Gill Sans';
  color: #444;
  font-size: 35px;
  line-height: 55px;
}

.subtext {
  text-indent: -16px;
}

.red {
  color: red;
}

.border {
  border-right: 1px solid #555;
}

.right_border {
  box-shadow: -1px 0 0 rgba(0, 0, 0, .20) inset,
               1px 0 0 rgba(255, 255, 255, .05);
}

.repos {
  min-height: 350px;
}

.row dl {
  margin-left: 18px;
}