body {
  font-size: 13px;
  line-height: 20px;
  font-family: "Century Gothic";
}

body h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial';
}

hr {
  border-top: 1px solid #d4ebf6;
}

.footer {
  height: 400px;
  background-color: #333;
  color: #EEE;
  margin-top: 25px;
  margin-left: 0px;
  border-left: 45px solid #222;
  border-right: 45px solid #222;
}

.footer .column {
  height: 350px;
  margin-top: 10px;
  padding: 15px 0 0 20px;
}

.border {border-right: 1px solid #555;}
.right_border {
  box-shadow: -1px 0 0 rgba(0, 0, 0, .20) inset,
               1px 0 0 rgba(255, 255, 255, .05);
}